<div id= "index-header" class="page-header">
  <h2>All Statuses</h2>
</div>

  <%= link_to "Post a New Status", new_status_path, class: "btn btn-success" %>

<% @statuses.each do |status| %>
<div class="status">
  <strong><%= status.user.full_name%></strong>
  <p><%= status.content %></p>

  <div class="meta">
  <%= link_to time_ago_in_words(status.created_at)+ " ago", status %>  | 
    <!-- We don't want to show edit and delete to everyone -->
    <span class="admin">
      <%= link_to "Edit", edit_status_path(status) %> |
      <%= link_to "Delete", status, :method => :delete,
                                     :confirm => "Are you sure?" %>
    </span>  
  </div>                              
</div>
<% end %>